/*Handles all the styling for the index page in DESKTOP RESOLUTION */
body
{
  background-color: #2a2e38;
  height: 700px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

#nav
{
  background-color:  #1f2229;
  height: 6em;
  border-color:  #1f2229;
}
#logo
{
  padding-top: 6px;
}
#cus /* cotnact us */
{
  font-size: 1.4em;
  position: relative;
  top: 1em;
  white-space: nowrap;
  margin-right: 40px;
}
#div
{
  position: relative;
  top: 2.5em;
}
#gh
{
  margin-left: 50px;
  margin-right: 80px;
}
#gh-icon
{
  color:white;
}
#collapse-btn
{
  /*margin-top: 17px;
  transform: scale(1.3);
  background-color: #2a2e38;
  border-color: #2A2E38;*/
}
#right-nav
{
  color:white;

}
