/*Handles all the styling for the index page in DESKTOP RESOLUTION */
body
{
  background-color: #2a2e38;
  height: 700px;
  color: #FFF;
  padding-top: 6em;
  font-family: 'Roboto', sans-serif;
}

#nav
{
  background-color:  #1f2229;
  height: 6em;
  border-color:  #1f2229;
}
#logo
{
  padding-top: 6px;
}



#gh-icon
{
  color:white;
}

#right-nav
{
  color:white;
}
#main-content
{
  margin-top: 2.5em;
  background-color: white;
  color: #2a2e38;
  height: 20em;
  margin-left: 8.3%;
  margin-right: 8.3%;
  border-radius: 15px;
}
div h2
{
  font-weight: 200;
  font-size: 3em;
  margin-top: 3em;
}
div h2::after
{
  content: url("../img/promo-bar.png");
  position: fixed;
  width: 80%;
  left: 1em;
  z-index: -1;
}
div h4
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  font-size: 1.2em;
  font-style: italic;
}
