

@media screen and (max-width: 768px) {

  body {
    padding-top: 12em;
  }

  

  ul > li:not(:last-child) {
    border-right: none;
    border-bottom: ridge;
    border-color: #D8E2FF;
  }

  .menu-solid {
    background-color: #1f2229;
  }

 .fa-github::after {
  content: " Github";
  font-size: 50px;
 }
}



