@media screen and (max-width: 768px) {
  #main-content
  {
    height: auto;
  }
  .mc-item
  {
    width: auto;
  }
  #divider
  {
    width: 190px;
    height: 2px;
    margin-bottom: 30px;
  }
  #donate
  {
    width: 100%;
  }
  #donate-input
  {
    font-size: 1.4em;
  }
  body {
    padding-top: 12em;
  }

  ul > li:not(:last-child) {
    border-right: none;
    border-bottom: ridge;
    border-color: #D8E2FF;
  }

  .menu-solid {
    background-color: #1f2229;
  }

  .navbar-text {
    font-size: 4.5vh;
  }

  .fa-github::after {
    content: " Github";
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    font-weight: 500;
  }
}

@media screen and (min-width:770px) and (max-width: 1140px) {
  #main-content  p{
    font-size: 99%;
  }
}
/* target generic mobile */
@media screen and (max-width: 530px) {
  #main-content  p{
    font-size: 96%;
  }
}
